@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";
html{
    scrollbar-width: none;
}
*{
    font-family: "Figtree", sans-serif;
}

body{
    background-color: #08090A;
    color: white;
}

body::selection{
    background-color: rgba(151, 205, 239, 0.747);
    color: rgb(4, 92, 151);
}

.description{
    font-family: "JetBrains Mono", monospace;
}